<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziroom.suzaku.main.dao.SuzakuDepotMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ziroom.suzaku.main.entity.SuzakuDepot">
        <id column="id" property="id" />
        <result column="depot_name" property="depotName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, depot_name, create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.ziroom.suzaku.main.entity.SuzakuDepot">
        insert into suzaku_depot(depot_code, depot_name, address, manager_no, manager_name)
        values
        <foreach collection="suzakuDepots" item="item" separator=",">
            (
            #{item.depotCode}, #{item.depotName},#{item.address}, #{item.managerNo},#{item.managerName}
            )
        </foreach>
    </insert>

</mapper>
